<%- include('components/header') %>

<div class="error-container">
    <h1><%= status %> Error</h1>
    <p><%= message %></p>
    <a href="/">Return to Home</a>
</div>

<%- include('components/footer') %>