<%- include('components/header') %>
<main>
    <button class="redirectButtons" id="newGame">New Game</button>
</main>
<script src="/scripts/homeRedirects.js" defer></script>
<%- include('components/footer') %>