<%- include('components/header') %>
<main>
    <h1>Welcome to <span>Stats</span><span>tracker</s></h1>
    <div class="inputDiv"><input type="text" placeholder="Email..."></div>
    <div class="inputDiv"><input type="text" placeholder="Code..."></div>
    <div class="buttonHolder">
        <button id="getCodeBtn">Get Code</button>
        <button id="submitBtn">Submit</button>
    </div>
</main>
<%- include('components/footer') %>