<%- include('components/header') %>
<main>
    <h1 id="teamName">TeamName</h1>
    <section id="otherStuff">
        <div>
            <input type="text" id="newPlayerInput">
            <div class="addBtn"><img src="/assets/icons/addPerson.svg" alt="Add" class="addIcon"></div>
        </div>
        <div>
            <button class="statsBtn">Team Stats</button>
        </div>
    </section>
    <section id="playerDisplays">
        <div class="player">
            <p>Player1</p>
            <div class="deleteBtn"><img src="/assets/icons/delete.svg" alt="Delete" class="deleteIcon"></div>
        </div>
        <div class="player">
            <p>Player2</p>
            <div class="deleteBtn"><img src="/assets/icons/delete.svg" alt="Delete" class="deleteIcon"></div>
        </div>
        <div class="player">
            <p>Player3</p>
            <div class="deleteBtn"><img src="/assets/icons/delete.svg" alt="Delete" class="deleteIcon"></div>
        </div>
        <div class="player">
            <p>Player4</p>
            <div class="deleteBtn"><img src="/assets/icons/delete.svg" alt="Delete" class="deleteIcon"></div>
        </div>
        <div class="player">
            <p>Player5</p>
            <div class="deleteBtn"><img src="/assets/icons/delete.svg" alt="Delete" class="deleteIcon"></div>
        </div>
    </section>
</main>
<%- include('components/footer') %>